header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    /* 0 en la parte superior e inferior y automatico a los bordes */
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* hover captura el movimiento de mi mouse */
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* limita el espacio que tengo poniendo como limite el tamaño del item en este caso 30% */
    box-sizing: border-box;
    /* tambien lo puedo hacer con border: width, style, color */
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

/* detecta cuando le doy click a algun elemento */
.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

/* Creo este hover por que el programa le da mas importancia al font size de h2 que el .products li hover  */
/* con este hover le indico que cuando pase el mouse encima de mis productos afecte el h2 osea el titulo*/
.productos li:hover h2{
    font-size: 33px;
}

.descripcion{
    font-size: 18px;
}

.precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}