header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    /* 0 en la parte superior e inferior y automatico a los bordes */
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* hover captura el movimiento de mi mouse */
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    width: 940px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

.principal{
    background: #FEFEFE;
    /* arriba y abajo | izquierda y derecha */
    padding: 2em 1em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.utencilios{
    width: 120px;
    height: 160px;
    float: left;
    /* superior-derecha-inferior-izquierda */
    margin: 0 20px 20px 0;
}

em strong{
    color: red;
}

#localizacion strong{
    font-weight: bold;
}

#mision{
    font-style: italic;
}

#mision strong{
    color: red;
    font-weight: bold;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.diferenciales{
    padding: 1em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 940px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/* con esto llamos a mi clase items */
.items{
    line-height: 2;
}

.items:before{
    content: "★";
}

/* first child me identifica el primer hijo de la clase items */
.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    /* eje y- eje x-Degradado-color */
    box-shadow: 10px 10px 25px #000000;
}

.video{
    margin: 0 auto;
    background: #888888;
}

.video h3{
    padding: 1em 0 0;
}

.contenido-video{
    width: 560px;
    padding: 0 0 2em;
    margin: 0 auto;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}